

<div class="down-navbar" data-controller="search-appear" >

  <div data-search-appear-target="searchdiv" class="searchbar d-none">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        id: "searchbar-text-field",
        placeholder: "Trouve un Pulse ou un utilisateur ðŸ”" %>
      <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>

  <div class="container container-down-navbar">

  <%# ------------ home -----------------%>
    <%= link_to root_path, class: "down-navbar-item" do %>
      <i class="fas fa-heartbeat"></i>
    <% end %>

  <%# ------------ search ----------------%>
    <div id="search-icon" class="down-navbar-item" data-search-appear-target="loupe" data-action="click->search-appear#search">
      <i class="fas fa-search"></i>
    </div>

  <%# ---------- placeholder -------------%>
    <%= link_to "#", class: "down-navbar-item mx-4" do %>
      <i class="fas fa-square" style="color:black;"></i>
    <% end %>

  <%# ------------ pulse new -------------%>
    <%= link_to new_pulse_path, class: "down-navbar-pulse" do %>
    <i class="far fa-lightbulb"></i>
    <% end %>

  <%# ------------- city -----------------%>
    <%= link_to pages_lille_city_path, class: "down-navbar-item" do %>
      <i class="fas fa-building"></i>
    <% end %>

  <%# ------------- info -----------------%>
    <%= link_to pages_infos_path, class: "down-navbar-item" do %>
      <i class="fas fa-info-circle"></i>
    <% end %>
  </div>
</div>
