<div class="down-navbar">
  <div class="container container-down-navbar">

  <%# ------------ home -----------------%>
    <%= link_to "#", class: "down-navbar-item" do %>
      <i class="fas fa-heartbeat"></i>
    <% end %>

  <%# ------------ search ----------------%>
    <%= link_to "#", class: "down-navbar-item" do %>
      <i class="fas fa-search"></i>
    <% end %>

  <%# ------------ pulse -----------------%>
    <%= link_to "#", class: "down-navbar-pulse" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <%# ------------- city -----------------%>
    <%= link_to "#", class: "down-navbar-item" do %>
      <i class="fas fa-building"></i>
    <% end %>

  <%# ------------- info -----------------%>
    <%= link_to "#", class: "down-navbar-item" do %>
      <i class="fas fa-info-circle"></i>
    <% end %>
  </div>
</div>
