<div class="down-navbar">
  <div class="container container-down-navbar">

  <%# ------------ home -----------------%>
    <%= link_to root_path, class: "down-navbar-item" do %>
      <i class="fas fa-heartbeat"></i>
    <% end %>

  <%# ------------ search ----------------%>
    <%= link_to "#", class: "down-navbar-item" do %>
      <i class="fas fa-search"></i>
    <% end %>

  <%# ---------- placeholder -------------%>
    <%= link_to "#", class: "down-navbar-item mx-4" do %>
      <i class="fas fa-square" style="color:black;"></i>
    <% end %>

  <%# ------------ pulse new -------------%>
    <%= link_to "#", class: "down-navbar-pulse" do %>
    <i class="far fa-lightbulb"></i>
    <% end %>

  <%# ------------- city -----------------%>
    <%= link_to pages_lille_city_path, class: "down-navbar-item" do %>
      <i class="fas fa-building"></i>
    <% end %>

  <%# ------------- info -----------------%>
    <%= link_to pages_infos_path, class: "down-navbar-item" do %>
      <i class="fas fa-info-circle"></i>
    <% end %>
  </div>
</div>
