      <div class="pulse-content">

        <div class="pulse-content-left">
        <% if pulse.user.photo.attached? %>
          <%= cl_image_tag pulse.user.photo.key, class:"profile-pic" %>
        <% else %>
          <i class="fas fa-user-circle" id="user-picto"></i>
        <% end %>

          <div class="pulse-nickname-and-categories">
            <div class="pulses-categories d-flex">
              <% pulse.categories.limit(3).each do |category| %>
                <p class="me-2"> <%= sanitize category.picto %> </p>
              <% end %>
            </div>

            <div class="pulse-delete">

              <% if current_user == pulse.user%>
                <%= link_to pulse_path(pulse) ,method: :delete, data: { confirm: "Supprimer?" } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <p><%= pulse.pulse_content %></p>

          <div class="d-flex flex-column">
            <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
              <% if user_signed_in? %>
                  <% if pulse.user != current_user %>
                    <p class="pulse-date text-danger mb-0 mt-0" style="cursor:pointer;"> <small> <small> Signaler <i class="fas fa-flag"></i></small></small></p>
                  <% end %>
              <% end %>
          </div>
        </div>

        <%# # ------ div (partial) qui se refresh quand on like ------ %>
        <%= render "pulses/pulse_content_right", pulse: pulse %>

      </div>
