<div class="bg-index-gray">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
          <i class="fas fa-user-circle" id="user-picto"></i>
          <h2 class="pulse-user-nickname"><%= pulse.user.nickname %></h2>
          <p><%= pulse.pulse_content %></p>
          <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
        </div>


    <%# # -------------- test AJAX ---------------- %>


        <div data-controller="like">

          <div id="div-<%= pulse.id %>" class="pulse-content-right" >

            <h2 data-like-target="counter" id="pulse-count"><%= pulse.favorites.count %></h2>


            <% if pulse.liked?(current_user)%>

              <%= link_to favorite_path(pulse.favorites.find_by(user_id: current_user).id), class:"pulse-like-red", method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>

            <% else %>

                <%= link_to pulse_favorites_path(pulse), data: {action: "click->like#fav", like_target: "btn" }, class:"pulse-like-blue", method: :post do %>
                  <i class="fas fa-heart"></i>
                <% end %>

            <% end %>
          </div>

        </div>

    <%# # -------------- test AJAX ---------------- %>

      </div>
    <% end %>
  </div>
</div>
