<div class="bg-index-gray">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
          <i class="fas fa-user-circle" id="user-picto"></i>
          <h2 class="pulse-user-nickname"><%= pulse.user.nickname %></h2>
          <p><%= pulse.pulse_content %></p>
          <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
        </div>

        <div class="pulse-content-right" data-controller="favorites">
          <h2 id="pulse-count" data-favorites-target="favoritescount"><%= pulse.favorites.count %></h2>

          <%# ------- favorites ----------- %>
          <% if pulse.liked?(current_user)%>
            <div data-action="click->favorites#unfav" data-favorites-target="favoritesr">
              <%= link_to favorite_path(pulse.favorites.find_by(user_id: current_user).id), remote: true, class:"pulse-like-red", method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
          <% else %>
            <div data-action="click->favorites#fav" data-favorites-target="favoritesb">
              <%= link_to pulse_favorites_path(pulse), remote: true, class:"pulse-like-blue", method: :post do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
