<div class="bg-body-index">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
          <i class="fas fa-user-circle" id="user-picto"></i>
          <h2 class="pulse-user-nickname"><%= pulse.user.nickname %> </h2>
          <p><%= pulse.pulse_content %></p>


          <%# revoir le css de cette partie pour enlever bootstrap %>
          <div class="d-flex">
            <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
            <div class="ms-5 pulse-categories d-flex">
              <% pulse.categories.limit(3).each do |category| %>
                <p class="ms-2"> <%= sanitize category.picto %> </p>
              <% end %>
            </div>
          </div>
        </div>

        <%# # ------ div (partial) qui se refresh quand on like ------ %>
        <%= render "pulse_content_right", pulse: pulse %>

      </div>
    <% end %>
  </div>
</div>

<%# regler ce pb de flash %>
<% unless user_signed_in? %>
  <%= flash[:alert] = link_to "Se connecter pour voter ou pulser!", new_user_session_path %>
<% end %>
