<div class="bg-index-gray">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
          <i class="fas fa-user-circle" id="user-picto"></i>
          <h2 class="pulse-user-nickname"><%= pulse.user.nickname %></h2>
          <p><%= pulse.pulse_content %></p>
          <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
        </div>

        <div class="pulse-content-right">
          <h2 id="pulse-count"><%= pulse.favorites.count %></h2>

          <%# ------- favorites ----------- %>
          <% if pulse.liked?(current_user)%>
            <%= link_to favorite_path(pulse.favorites.find_by(user_id: current_user).id), id:"pulse-like-red", remote: true, method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to pulse_favorites_path(pulse), id:"pulse-like-blue", remote: true, method: :post do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
