<div class="bg-body-index">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
        <% if pulse.user.photo.attached? %>
          <%= cl_image_tag pulse.user.photo.key, class:"profile-pic" %>
        <% else %>
          <i class="fas fa-user-circle" id="user-picto"></i>
        <% end %>

          <div class="pulse-nickname-and-categories">
            <h2 class="pulse-user-nickname"><%= pulse.user.nickname %> </h2>
            <div class="pulses-categories d-flex">
              <% pulse.categories.limit(3).each do |category| %>
                <p class="me-2"> <%= sanitize category.picto %> </p>
              <% end %>
            </div>

            <div class="pulse-delete">
              <% if current_user == pulse.user %>
                <%= link_to pulse_path(pulse) ,method: :delete, data: { confirm: "Supprimer?" } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <p><%= pulse.pulse_content %></p>

          <div class="d-flex">
            <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
          </div>
        </div>

        <%# # ------ div (partial) qui se refresh quand on like ------ %>
        <%= render "pulse_content_right", pulse: pulse %>

      </div>
    <% end %>
  </div>
</div>

  <% unless user_signed_in? %>
    <%= flash.now[:notice] = link_to "Se connecter pour voter ou pulser!", new_user_session_path%>
  <% end %>
