<div class="bg-body-index">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
          <i class="fas fa-user-circle" id="user-picto"></i>
          <h2 class="pulse-user-nickname"><%= pulse.user.nickname %>  <span class="pulse-title">titre</span> </h2>

         <%#= pulse.categories.first.nil? ? "" : test(pulse.categories.first.name) %>

          <p><%= pulse.pulse_content %></p>
          <div class="d-flex">
            <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
            <div class="pulse-categories">
            <%# a remplacer parles vraies categories %>
              <i class='fas fa-leaf ms-5'></i>
              <i class='fas fa-theater-masks ms-2'></i>
              <i class='fas fa-bus ms-2'></i>
            </div>
          </div>
        </div>

        <%# # ------ div (partial) qui se refresh quand on like ------ %>
        <%= render "pulse_content_right", pulse: pulse %>

      </div>
    <% end %>
  </div>
</div>

<%# regler ce pb de flash %>
<% unless user_signed_in? %>
  <%= flash[:alert] = link_to "Se connecter pour voter ou pulser!", new_user_session_path %>
<% end %>
